:local(.table) {
  width: 100%;
  border-bottom: none !important;
  background-color: transparent !important;
}

:local(.row) {
  color: inherit;
  padding: 5px;
  padding-right: 10px;
}

:local(.row > th) {
    min-width: 30px;
}
