.calendar-panel {
	/* allow loading panel to fill up the calendar*/
	position: relative;
}

span.name {
	font-weight: bold;
}

.average-marks-table {
	color: black;
}

.average-marks-table tr {
	padding: 3px;
}

.average-marks-table th {
	color: gray;
	padding-right: 10px;
}

.popover .popover {
	overflow: hidden;
	width: 500px;
}

.popover .title {
	border-bottom: 1px solid lightgray;
	background-color: #e5e3e3;
	width: 99.5%;
	border-radius: 4px 4px 0 0;
}

.popover .tip-inner, .popover {
	width: 500px !important;
	max-width: 500px !important;
}

.body {
	float: left;
	background-color: #fcfcfc;
	border-right: 1px solid lightgray;
	max-width: 180px;
}

#cb-class-info {
	float: left;
	padding: 10px 15px;
	min-height: 295px;
	max-width: 320px;
}

#loading-screen {
	opacity: 0.75;
	background-color: lightgray;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	text-align: center;
}