span.name {
	font-weight: bold;
}

.average-marks-table {
	color: gray;
	/*border:1px solid lightgray;*/
	width: 200px;
}

.average-marks-table tr {
	padding: 3px;
}

.popover .popover {
	overflow: hidden;
	width: 500px;
}

.popover .title {
	border-bottom: 1px solid lightgray;
}

.popover .title {
	background-color: #e5e3e3;
	width: 99.5%;
	border-radius: 4px 4px 0 0;
}

.tip-inner, .popover {
	width: 500px !important;
	max-width: 500px !important;
}

.body {
	float: left;
	background-color: #fcfcfc;
	border-right: 1px solid lightgray;
}

#cb-class-info {
	float: left;
	padding: 10px 15px;
	min-height: 295px;
}