:local(.table) {
  color: gray;
  width: 100%;
  border-bottom: none !important;
  background-color: transparent !important;
}

:local(.table th, .table td) {
  color: gray;
  padding: 5px;
  padding-right: 10px;
}

:local(.table th) {
  text-align: left;
}
