:local(.popup) {
  position: absolute;
}

:local(.content) {
  padding: 10px;
  padding-bottom: 0;
  width: 500px;

  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;

  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

:local(.title) {
  border-bottom: 1px solid lightgray;
  background-color: #FAFAFA;

  margin: -10px;
  margin-bottom: 0;
  padding: 10px;
  font-size: 20px;
}

:local(.row) {
  display: flex;
  flex-direction: row;
}

:local(.sidebar) {
  width: 300px;
  padding-right: 10px;
  border-right: 1px solid lightgray;
}

:local(.popup h4) {
  font-size: 13px;
  font-weight: 200;
  color: rgba(128, 128, 128, 0.8);
  margin-bottom: 1px;
}

:local(.popup p) {
  font-size: 15px;
}

:local(.stats) {
  flex-grow: 1;
  padding-left: 10px;
}

:local(.courseStatsTable) {
  margin: 0 -10px 0 -10px;
  padding: 10px;
  color: white;
  background-color: lightgray;
}
