<div class="{{styles.popup}}">
  <div class="{{styles.content}}">
    <h2 class="{{styles.title}}">{{course.title}}</h2>
    <div class="{{styles.row}}">
      <div class="{{styles.sidebar}}">
        <h4>instructor</h4>
        <p>{{course.instructor}}</p>
        <h4>location</h4>
        <p>{{course.location}}</p>
        <h4>section</h4>
        <p>{{course.section}}</p>
        <h4>ref #</h4>
        <p>{{course.refNumber}}</p>
        <h4>credits</h4>
        <p>{{course.creditHours}}</p>
      </div>
      <div class="{{styles.stats}}">
        <h4>course averages</h4>
        <p>Lorem ipsum</p>
        <h4>course description</h4>
        <p>Lorem ipsum</p>
        <h4>professor stats</h4>
        <p>{{course.instructor}}</p>
        <div>{{{professorStatsTable}}}</div>
      </div>
    </div>
  </div>
</div>
